---

---

<div
  class="h-[calc(100vh-8rem)] flex items-center justify-center flex-col gap-8"
>
  <h1 class="text-black md:text-6xl text-3xl font-semibold">MVF Solutions</h1>
  <i class="md:text-base text-sm">Developing Geospatial technology solutions</i>
  <p class="text-black md:text-base text-xs">Coming Soon...</p>
</div>

<!-- <style>
  @media screen and (max-height: 368px) {
  }

  @media screen and (max-width: 768px) {
  }
</style> -->
